vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|28 Jan 2023 05:36:30 -0000
vti_author:SR|miyazaki\\uran
vti_modifiedby:SR|miyazaki\\uran
vti_nexttolasttimemodified:TW|28 Jan 2023 05:36:30 -0000
vti_timecreated:TR|31 Dec 2023 14:09:46 -0000
vti_cacheddtm:TX|31 Dec 2023 14:09:46 -0000
vti_filesize:IR|9416
vti_cachedlinkinfo:VX|Q|grid.css S|../img/button.png S|../img/button2.png S|../img/subimg.jpg
vti_cachedsvcrellinks:VX|FQUS|simple-lp/simple-lp/css/grid.css FSUS|simple-lp/simple-lp/img/button.png FSUS|simple-lp/simple-lp/img/button2.png FSUS|simple-lp/simple-lp/img/subimg.jpg
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|simple-lp/simple-lp/subpage.html simple-lp/simple-lp/index.html
vti_syncofs_www.aa.cyberhome.ne.jp\:21/public_html:TW|28 Jan 2023 05:36:30 -0000
vti_syncwith_www.aa.cyberhome.ne.jp\:21/public_html:TW|31 Dec 2023 14:09:46 -0000
