vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|11 Jan 2017 02:30:51 -0000
vti_author:SR|miyazaki\\uran
vti_modifiedby:SR|miyazaki\\uran
vti_nexttolasttimemodified:TW|11 Jan 2017 02:30:51 -0000
vti_timecreated:TR|31 Dec 2023 14:09:20 -0000
vti_cacheddtm:TX|31 Dec 2023 14:09:20 -0000
vti_filesize:IR|12695
vti_cachedlinkinfo:VX|S|../images/header.gif S|../images/rightround.jpg S|../images/divider.gif S|../images/leftround.gif S|../images/LOGO-Academy40-5.png S|../imagesToyosu/LOGO-Toyosu40.png S|../images/LOGO-Earth-40.png
vti_cachedsvcrellinks:VX|NSUS|Earth/images/header.gif NSUS|Earth/images/rightround.jpg NSUS|Earth/images/divider.gif NSUS|Earth/images/leftround.gif NSUS|Earth/images/LOGO-Academy40-5.png NSUS|Earth/imagesToyosu/LOGO-Toyosu40.png FSUS|Earth/images/LOGO-Earth-40.png
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Earth/index.html
vti_syncofs_www.aa.cyberhome.ne.jp\:21/public_html:TW|11 Jan 2017 02:30:51 -0000
vti_syncwith_www.aa.cyberhome.ne.jp\:21/public_html:TW|31 Dec 2023 14:09:20 -0000
