vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|18 Jul 2016 04:25:51 -0000
vti_author:SR|miyazaki\\uran
vti_modifiedby:SR|miyazaki\\uran
vti_nexttolasttimemodified:TW|18 Jul 2016 04:25:51 -0000
vti_timecreated:TR|31 Dec 2023 14:09:24 -0000
vti_cacheddtm:TX|31 Dec 2023 14:09:24 -0000
vti_filesize:IR|12739
vti_cachedlinkinfo:VX|S|../../Oldies/images/header.gif S|../../Oldies/images/rightround.jpg S|../../Oldies/images/divider.gif S|../../Oldies/images/leftround.gif S|../../Oldies/images/LOGO-Academy40-5.png S|../../Oldies/imagesToyosu/LOGO-Toyosu40.png S|../../Oldies/images/LOGO-Oldies60-70-40.png
vti_cachedsvcrellinks:VX|NSUS|Oldies/images/header.gif NSUS|Oldies/images/rightround.jpg NSUS|Oldies/images/divider.gif NSUS|Oldies/images/leftround.gif NSUS|Oldies/images/LOGO-Academy40-5.png NSUS|Oldies/imagesToyosu/LOGO-Toyosu40.png FSUS|Oldies/images/LOGO-Oldies60-70-40.png
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|French/french020.html French/french021.html French/french010.html French/index.html
vti_syncofs_www.aa.cyberhome.ne.jp\:21/public_html:TW|18 Jul 2016 04:25:51 -0000
vti_syncwith_www.aa.cyberhome.ne.jp\:21/public_html:TW|31 Dec 2023 14:09:24 -0000
