       
			<!-- Start floatbox -->
<hr /> 
<br />
<p class="gad">Ads by Google</p>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- beluran_responsive -->
<ins class="adsbygoogle"
     style="display:block;width:300px;height:600px"
     data-ad-client="ca-pub-1302894290654620"
     data-ad-slot="9181302993"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>		
			<!-- End floatbox -->
			

			<!-- Start floatbox -->
<hr />
<br />
<p class="gad">Ads by Google</p>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- beluran -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-1302894290654620"
     data-ad-slot="3126707799"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<!-- End floatbox -->



      <!-- end categories -->
      <!-- END left  and right -->
    </div>
    <!-- END sidebar -->
    <div class="break"></div>              
  </div>
  
<!--タグはここから-->
<!-- http://www.rays-counter.com/ -->

   <!-- END body --> 
   
  <!-- BEGIN footer -->
  <div id="footer" class="copyright">
  <!-- Copyright &copy; 2009 - <a href="#">Website Name</a> &middot; All Rights Reserved | Template by: <a href="http://www.wpthemedesigner.com/">WordPress Designer</a> | Get More <a href="#">Free CSS Templates</a> -->
  Copyright &copy; 2015-2016 koji miyazaki All rights reserved.<br /> 
  当サイトへのリンクはご自由にどうぞ。<br/>
&lt;a href="http://www.aa.cyberhome.ne.jp/~bel/WPFCSharpUsingLivet/" target="_blank"&gt;Livetを使ったC#のWPFプログラミング &lt;/a&gt;<br/>
 </div>
  <!-- END footer -->
  
  
</div>
<!-- END wrapper -->
