<menu id="m">

<ul id="dropmenu">
  <li><a href="#">ホーム</a>
    <ul>
      <li><a href="index.html">ホーム</a></li>
      <li><a href="about.html">メール・掲示板</a></li>
      <li><a href="toyosu.html">マイタウン豊洲</a></li>
     </ul>   
   </li>    
   <li><a href="#">プログラミング</a>
    <ul>
      <li><a href="WPFCSharpUsingLivet/index.html">WPFプログラミング</a></li>
      <li><a href="WindowChrome/index.html">Chromeプログラミング</a></li>
    </ul>
  </li>
  <li><a href="SampleHelpDesk/index.html">Chromeサンプル</a></li>
  <li><a href="Tips/index.html">Tips</a></li>
  <li><a href="uran/index.html">ウランのホームページ</a></li>
</ul>   
</menu>

<footer id="f">

  Copyright &copy; 2015-2016 koji miyazaki All rights reserved.<br /> 
  当サイトへのリンクはご自由にどうぞ。<br/>
	  &lt;a href="http://www.aa.cyberhome.ne.jp/~bel/WPFCSharpUsingLivet/" 
	  target="_blank"&gt;Livetを使ったC#のWPFプログラミング&lt;/a&gt;<br/>
	  
</footer>

