vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|21 Aug 2016 08:01:26 -0000
vti_author:SR|miyazaki\\uran
vti_modifiedby:SR|miyazaki\\uran
vti_nexttolasttimemodified:TW|21 Aug 2016 08:01:26 -0000
vti_timecreated:TR|31 Dec 2023 14:09:33 -0000
vti_cacheddtm:TX|31 Dec 2023 14:09:33 -0000
vti_filesize:IR|12663
vti_cachedlinkinfo:VX|S|../images/header.gif S|../images/rightround.jpg S|../images/divider.gif S|../images/leftround.gif S|../images/LOGO-Academy40-5.png S|../imagesToyosu/LOGO-Toyosu40.png S|../images/LOGO-YouTube-40.png
vti_cachedsvcrellinks:VX|NSUS|Movie/images/header.gif NSUS|Movie/images/rightround.jpg NSUS|Movie/images/divider.gif NSUS|Movie/images/leftround.gif NSUS|Movie/images/LOGO-Academy40-5.png NSUS|Movie/imagesToyosu/LOGO-Toyosu40.png FSUS|Movie/images/LOGO-YouTube-40.png
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Movie/index.html
vti_syncofs_www.aa.cyberhome.ne.jp\:21/public_html:TW|21 Aug 2016 08:01:26 -0000
vti_syncwith_www.aa.cyberhome.ne.jp\:21/public_html:TW|31 Dec 2023 14:09:33 -0000
