vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|18 Jul 2016 04:24:25 -0000
vti_author:SR|miyazaki\\uran
vti_modifiedby:SR|miyazaki\\uran
vti_nexttolasttimemodified:TW|18 Jul 2016 04:24:25 -0000
vti_timecreated:TR|31 Dec 2023 14:09:20 -0000
vti_cacheddtm:TX|31 Dec 2023 14:09:20 -0000
vti_filesize:IR|12660
vti_cachedlinkinfo:VX|S|../images/header.gif S|../images/rightround.jpg S|../images/divider.gif S|../images/leftround.gif S|../images/LOGO-Academy40-5.png S|../imagesToyosu/LOGO-Toyosu40.png S|../images/LOGO-Dorama-40.png
vti_cachedsvcrellinks:VX|NSUS|Dorama/images/header.gif NSUS|Dorama/images/rightround.jpg NSUS|Dorama/images/divider.gif NSUS|Dorama/images/leftround.gif NSUS|Dorama/images/LOGO-Academy40-5.png NSUS|Dorama/imagesToyosu/LOGO-Toyosu40.png FSUS|Dorama/images/LOGO-Dorama-40.png
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Dorama/dorama010.html Dorama/dorama050.html Dorama/dorama220.html Dorama/index.html Dorama/dorama040.html Dorama/dorama210.html Dorama/dorama030.html Dorama/dorama200.html Dorama/dorama020.html Dorama/dorama060.html Dorama/dorama230.html
vti_syncofs_www.aa.cyberhome.ne.jp\:21/public_html:TW|18 Jul 2016 04:24:25 -0000
vti_syncwith_www.aa.cyberhome.ne.jp\:21/public_html:TW|31 Dec 2023 14:09:20 -0000
