vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|23 Aug 2016 12:11:13 -0000
vti_author:SR|miyazaki\\uran
vti_modifiedby:SR|miyazaki\\uran
vti_nexttolasttimemodified:TW|23 Aug 2016 12:11:13 -0000
vti_timecreated:TR|31 Dec 2023 14:09:25 -0000
vti_cacheddtm:TX|31 Dec 2023 14:09:25 -0000
vti_filesize:IR|12661
vti_cachedlinkinfo:VX|S|../images/header.gif S|../images/rightround.jpg S|../images/divider.gif S|../images/leftround.gif S|../images/LOGO-Academy40-5.png S|../imagesToyosu/LOGO-Toyosu40.png S|../images/LOGO-History-40.png
vti_cachedsvcrellinks:VX|NSUS|History/images/header.gif NSUS|History/images/rightround.jpg NSUS|History/images/divider.gif NSUS|History/images/leftround.gif NSUS|History/images/LOGO-Academy40-5.png NSUS|History/imagesToyosu/LOGO-Toyosu40.png FSUS|History/images/LOGO-History-40.png
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|History/index.html
vti_syncofs_www.aa.cyberhome.ne.jp\:21/public_html:TW|23 Aug 2016 12:11:13 -0000
vti_syncwith_www.aa.cyberhome.ne.jp\:21/public_html:TW|31 Dec 2023 14:09:25 -0000
