vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|14 Nov 2016 12:13:28 -0000
vti_author:SR|miyazaki\\uran
vti_modifiedby:SR|miyazaki\\uran
vti_nexttolasttimemodified:TW|14 Nov 2016 12:13:28 -0000
vti_timecreated:TR|31 Dec 2023 14:09:17 -0000
vti_cacheddtm:TX|31 Dec 2023 14:09:17 -0000
vti_filesize:IR|12667
vti_cachedlinkinfo:VX|S|../images/header.gif S|../images/rightround.jpg S|../images/divider.gif S|../images/leftround.gif S|../images/LOGO-Academy40-5.png S|../imagesToyosu/LOGO-Toyosu40.png S|../images/LOGO-Documentary-40.png
vti_cachedsvcrellinks:VX|NSUS|Documentary/images/header.gif NSUS|Documentary/images/rightround.jpg NSUS|Documentary/images/divider.gif NSUS|Documentary/images/leftround.gif NSUS|Documentary/images/LOGO-Academy40-5.png NSUS|Documentary/imagesToyosu/LOGO-Toyosu40.png FSUS|Documentary/images/LOGO-Documentary-40.png
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Documentary/index.html
vti_syncofs_www.aa.cyberhome.ne.jp\:21/public_html:TW|14 Nov 2016 12:13:28 -0000
vti_syncwith_www.aa.cyberhome.ne.jp\:21/public_html:TW|31 Dec 2023 14:09:17 -0000
